/*Fonts*/
@font-face {
    font-family: 'Groovy-Baby';
    src:url('fonts/Groovy-Baby.ttf.woff') format('woff'),
        url('fonts/Groovy-Baby.ttf.svg#Groovy-Baby') format('svg'),
        url('fonts/Groovy-Baby.ttf.eot'),
        url('fonts/Groovy-Baby.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
/*Fonts*/

@font-face {
    font-family: 'OratorStd';
    src:url('fonts/OratorStd.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stencil Std';
    src:url('fonts/StencilStd.otf') format('otf');
}

html, body {
    margin: 0;
}

body {
    background: url(images/backgroundpropre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 80px;
}

#wrapper {
    width: 1025px;
    margin: 0 auto;
    background-image: url(images/newbody.jpg);
}

header img:first-child {
    margin-left: -150px;
    position: absolute;
    width: 150px;
}

header img:nth-child(2) {
    float: right;
    margin-right: -150px;
    width: 150px;
}

header img:nth-child(n+3) {
    display: block;
    margin: 0 auto;
}

section {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

#lightcircle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #ddf0ef;
}

#leftcircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #95cacd;
    display: inline-block;
    margin-left: 100px;
    margin-top: 100px;
}

#middlecircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f1be6d;
    display: inline-block;
        margin-left: 100px;
        margin-top: 100px;
}

#rightcircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #95cacd;
    display: inline-block;
    margin-left: 100px;
    margin-top: 100px;
}

section .title {
    position: relative;
    width: 300px;
    height: 50px;
    background-color: #f6d45b;
    box-shadow: 8px 8px 0px #95cacd;
    font-family: 'Groovy-Baby';
    font-size: 28px;
    color: #95cacd;
    margin-bottom: 50px;
}

section .title span {
    position: absolute;
    margin: 15px 0 0 10px;
}

section .title img {
    float: right;
    margin-top: 13px;
    margin-right: 20px;
}

.shape {
    display: inline-block;
    margin: 50px 0 0 100px;
    width: 350px;
    height: 210px;
    background-color: #ddf0ef;
    border: 5px solid #95cacd;
    border-radius: 10px;
    font-family: 'OratorStd';
    font-size: 22px;
    color: #f1be6d;
}

.button {
    width: 90px;
    height: 50px;
    border-radius: 5px;
    background-color: #ddf0ef;
    display: inline-block;
    margin: 5px 3px 0 3px;
    cursor: pointer;
}

.button span {
    font-family: 'OratorStd';
    font-size: 23px;
    color: #95cacd;
}

.artistbox {
    width: 800px;
    height: 350px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #ddf0ef;
    border: 30px solid #95cacd;
    border-radius: 40px;
}

.info {
    margin-top: 15px;
    margin-left: 370px;
    padding: 5px;
    width: 400px;
    height: 140px;
    background-color: #95cacd;
    border-radius: 10px;
    box-shadow: 5px 5px 7px #999;
}

.info p {
    margin-top: 0px;
    font-family: 'OratorStd';
    font-size: 15px;
    color: #ddf0ef;
}

.artistbox img {
    width: 300px;
    position: absolute;
    margin: 80px 0 0 30px;
}

.artistbox .info audio {
    margin: 50px;
}

#posters {
    width: 800px;
    margin: 0 auto;
}

#programming #posters img {
    display: inline-block;
    width: 200px;
    border: 10px solid #95cacd ;
    border-radius: 10px;
    box-shadow: 0 0 20px #999;
}

#programming #posters img.middle {
    margin: 0 50px 0 50px;
}

#ticket #ticketimg {
    position: relative;
    font-family: 'Stencil Std';
    font-size: 40px;
    background-image: url('images/ticket.png');
    width: 822px;
    height: 344px;
    margin: 0 auto;
    z-index: 1000;
}

#ticket form {
    position: absolute;
    margin-top: 100px;
    margin-left: 500px;
    z-index: 1;
}

.a {
    position: absolute;
    margin: 135px 0 0 145px;
    color: #f0551b;
}

.b {
    position: absolute;
    margin: 135px 0 0 305px;
    color: #f0551b;
}
.c {
    position: absolute;
    margin: 250px 0 0 145px;
    color: #f0551b;
}
.d {
    position: absolute;
    margin: 250px 0 0 305px;
    color: #f0551b;
}
.e {
    position: absolute;
    margin: 180px 0 0 470px;
    color: #f0551b;
}

#ticket #ticketimg span:hover {
    color: #c73814;
    cursor: pointer;
    text-shadow: 1px 1px 1px #c73814;
    -webkit-transform: scale(1.05);
}
.longshape {
    display: inline-block;
    margin: 50px 0 0 100px;
    width: 815px;
    height: 100px;
    background-color: #ddf0ef;
    border: 5px solid #95cacd;
    border-radius: 10px;
    font-family: 'OratorStd';
    font-size: 42px;
    color: #f1be6d;
}

.circlewrapper {
    width: 1000px;
    margin: 0 auto;
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #ddf0ef;
    border: 8px solid #95cacd;
    display: inline-block;
    margin: 0 25px 0 25px;
    box-shadow: 3px 5px 8px #999;
}

#store .circle img.mug {
    width: 150px;
    margin: 15px 25px 0 0;
}

#store .circle img.tshirt {
    width: 150px;
    margin: 15px 0 0 15px;
}

#store .circle img.badge {
    width: 150px;
    margin: 15px 0 0 15px;
}

#store .circle img.poster {
    height: 150px;
    margin: 15px 0 0 35px;
}

/*Caroussel*/

#carrousel {
    position: relative;
    height: 400px;
    width: 100%;
    margin: auto;
}
#carrousel ul li {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
}

.left {
    position: absolute;
    top: 170px;
    left: 20px;
    font-size: 40px;
    cursor: pointer;
}

.right {
    position: absolute;
    top: 170px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}

/*Fin caroussel*/

/*Footer*/
footer{
    margin-top:10px;
    margin-bottom: 0px;
    text-align:center;
}
/*liens*/
.lien-footer{
    width:100%;
    font-family: 'Orator Std';
    text-decoration: none;
}
.lien-footer a{
    font-size: 30px;
    color:white;
    text-decoration: none;
}
.lien-footer a:hover{
    text-shadow:  1px 1px 12px black;
    text-decoration: none;
}
.f-1{
    background-color: rgb(155,192,149);
    height:79px;
}
.f-2{
    background-color: rgb(189,183,61);
    height:82px;
}
.f-3{
    background-color: rgb(226,104,80);
    height:90px;
}
.f-4{
    background-color: rgb(220,50,77);
    height:86px;
}
/*Images*/
footer .img-f-right{
    width:500px;
    float: right;
    margin-right: -500px;
}

footer .img-f-left{
    margin-top:-1px;
    width:500px;
    float: left;
    margin-left: -1012px;
    position: absolute;
}
/*Navigation*/

.sprite {
    display: block;
    width: 180px;
    height: 55px;
    margin-left: -95px;
    transition: margin-left 0.5s;
}

.sprite:hover {
    margin-left: 0;
}

.home {
    background: url("images/navigation.png") -250px -30px no-repeat;
}

.home:hover {
    background: url("images/navigation.png") -30px -30px no-repeat;
}

.news {
    background: url("images/navigation.png") -250px -85px no-repeat;
}

.news:hover {
    background: url("images/navigation.png") -29px -85px no-repeat;
}

.artists {
    background: url("images/navigation.png") -250px -140px no-repeat;
}

.artists:hover {
    background: url("images/navigation.png") -29px -140px no-repeat;
}

.programming {
    background: url("images/navigation.png") -250px -195px no-repeat;
}

.programming:hover {
    background: url("images/navigation.png") -29px -195px no-repeat;
}

.ticket {
    background: url("images/navigation.png") -250px -250px no-repeat;
}

.ticket:hover {
    background: url("images/navigation.png") -29px -250px no-repeat;
}

.store {
    background: url("images/navigation.png") -250px -305px no-repeat;
}

.store:hover {
    background: url("images/navigation.png") -29px -305px no-repeat;
}

.ago {
    background: url("images/navigation.png") -250px -360px no-repeat;
}

.ago:hover {
    background: url("images/navigation.png") -29px -360px no-repeat;
}
.radio {
    margin-left: 610px;
    margin-top: 40px;


}

.video {
    margin-left: 15px;
    margin-top: -145px;
    margin-bottom: 30px;
}
